html {
  font-size: 62.5%;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.flexItSb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  color: #fff;
  padding: 0.5rem;
}

a:hover {
  /* color: #b91372; */
  background-color: #b91372;
  color: #fff;
  transition: all 0.2s linear;

  border-radius: 3px;
}

@media only screen and (max-width: 768px) {
  .container {
    text-align: center;
  }

  .container img {
    /* display: none; */
  }
}
