.container {
  width: 80%;
  margin: 0 auto;
  padding: 2rem 0;

  color: #fff;
}

.container > h2 {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 3rem;
}

.projectSingle {
  display: flex;
  gap: 3rem;
  margin-bottom: 1rem;
}

.reverseRow {
  flex-direction: row-reverse;
}

.leftProjectSingle {
  width: 50%;
}

.rightProjectSingle {
  width: 50%;

  /* border: 1px solid white; */
}

.trello {
  background: url("../public/trello-ss.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border-radius: 10px;
}

.sugarcosm {
  background: url("../public/sugarcosm-ss.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.leftProjectSingle h3 {
  font-size: 3em;
}

.leftProjectSingle p {
  font-size: 1.4em;
}

.leftProjectSingle span {
  font-size: 1.4em;
}

.leftProjectSingle li {
  font-size: 1.4em;
}

.pills {
  padding: 1rem 2rem;
  color: #fff;
  /* font-weight: bold; */
  font-size: 1.4em;
  text-align: center;
  border-radius: 8px;
  background-color: #b91372;
}

.techStack {
  margin: 2rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.linkIcons {
  margin: 2rem 0;
  font-size: 3em;
  display: flex;
  gap: 2rem;
  align-items: center;
}

.singleLinkIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25em;
  padding: 0.25em;
  cursor: pointer;
  border-radius: 3px;
}

.singleLinkIcon:hover {
  /* color: #b91372; */
  background-color: #b91372;
  color: #fff;
  transition: all 0.25s linear;
}

.linkIcons span {
  font-size: 0.5em;
}

@media only screen and (max-width: 768px) {
  .projectSingle {
    flex-direction: column-reverse;
  }
  .leftProjectSingle {
    width: 100%;
  }
  .rightProjectSingle {
    width: 100%;
    min-height: 200px;
  }
}
